<%- include('../../partials/head.ejs')  %> 
<!-- START CODE HERE WITH BODY TAG -->
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-2 text-info">
                <h1 class="display-3">EDIT DATA</h1>
            </div>
        </div>
        <div class="row my-5">
           
            <div class="col-md-6 offset-3 border bg-warning">
                <form action="/data/edit/<%= result._id %>"  method="POST" class="form">
                    <div class="form-group">
                        <label for="">Title</label>
                        <input class="form-control" type="text" name="title" value="<%= result.title %>" placeholder="Enter xTitle">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input class="form-control" type="text" name="description" value="<%= result.description %>" placeholder="Enter description">
                    </div>
                    <div class="form-group">
                        <label for="">Content</label>
                        <textarea class="form-control" type="text" name="content"  placeholder="Enter content"><%= result.content %></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a  class="btn btn-secondary mx-2" href="/data">Cancel</a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- END CODE HERE -->
<%- include('../../partials/foot.ejs')  %> 