<%- include('../../partials/head.ejs') %>
<!-- START CODE HERE WITH BODY TAG -->

<body>
  <%- include('../../partials/navbar.ejs') %>

  <div class="container">
    <div class="row my-5">
      <div class="col-12">
        <span
          style="
            color: rgb(99, 91, 92);
            padding-bottom: 20px;
            font-size: 20px;
          "
          >Created By :
          <span style="color: rgb(73, 168, 109); text-transform: uppercase"
            ><%= result.by %>
          </span></span
        >
      </div>
      <hr>
      <div class="col-sm-8">
        <h1 class="display-2 text-primary text-uppercase">
          <%= result.title %>
        </h1>
        <hr />
        <h4>
          Description :<i class="desc mx-5 text-muted"
            ><%= result.description %></i
          >
        </h4>
        <hr />
        <div class="col-sm-6">
          <h3>Content:</h3>
          <br />
          <p class="mx-4 text-dark lead"><%= result.content %></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="m-3">
          <a href="/data%>" class="btn btn-secondary">Go back</a>
        </div>
        <% if(result.by == user.name) {%>
        <div class="m-3">
          <a href="/data/edit/<%= result._id %>" class="btn btn-info">EDIT</a>
        </div>
        <div class="m-3">
          <form action="/data/delete/<%= result._id %>" class="" method="POST">
            <div class="form-group">
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </form>
        </div>
        <% }else{ %>
        <div class="m-3">
          <span>Only Creators can Update the Blog</span>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <!-- END CODE HERE -->
  <%- include('../../partials/foot.ejs') %>
</body>
